body{
    background-color: aqua;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: solid;
    justify-content: center;
    
}